proteosushi/__pycache__/combine_intensities.cpython-37.pyc
proteosushi/__pycache__/parse_generic.cpython-37.pyc
proteosushi/__pycache__/parse_MaxQuant.cpython-37.pyc
proteosushi/__pycache__/sparql.cpython-37.pyc
proteosushi/__pycache__/combine_intensities.cpython-37.pyc
proteosushi/__pycache__/parse_generic.cpython-37.pyc
proteosushi/__pycache__/parse_MaxQuant.cpython-37.pyc
proteosushi/__pycache__/sparql.cpython-37.pyc
proteosushi/__pycache__/combine_intensities.cpython-37.pyc
proteosushi/__pycache__/parse_generic.cpython-37.pyc
proteosushi/__pycache__/parse_MaxQuant.cpython-37.pyc
proteosushi/__pycache__/sparql.cpython-37.pyc
proteosushi/quant_parsed.csv
proteosushi/__pycache__/combine_intensities.cpython-37.pyc
proteosushi/__pycache__/parse_generic.cpython-37.pyc
proteosushi/__pycache__/parse_MaxQuant.cpython-37.pyc
proteosushi/__pycache__/sparql.cpython-37.pyc
proteosushi/mascot_rollup.csv
proteosushi/__pycache__/sparql.cpython-37.pyc
proteosushi/.~lock.mascot_rollup.csv#
quant_parsed.csv
mascot_rollup.csv
9606_annot_score.tsv
ref_UNPIDs.txt
spec_list_fixed.tsv
unmatchedSequencesmascot_rollup.csv
proteosushi/sparql_annotations.csv
proteosushi/proteosushi_200817.zip
proteosushi/sparql_annotations.csv
proteosushi/__pycache__/download_uniprot_AS.cpython-37.pyc
proteosushi/__pycache__/parse_mascot.cpython-37.pyc
proteosushi/__pycache__/parse_proteome.cpython-37.pyc
proteosushi/__pycache__/proteoSushi_constants.cpython-37.pyc
proteosushi/__pycache__/proteosushi_gui.cpython-37.pyc
proteosushi/__pycache__/ps_digest.cpython-37.pyc
proteosushi/__pycache__/ps_utilities.cpython-37.pyc
proteosushi/examples/EGFR_Skyline_data.csv
proteosushi/examples/.~lock.EGFR_Skyline_data.csv#
proteosushi/generic_rollup_1.csv
proteosushi/generic_rollup_2.csv
proteosushi/generic_combined_rollup.csv
proteosushi/generic_rollup_3.csv
proteosushi/generic_rollup_4.csv
proteosushi/generic_rollup_5.csv
proteosushi/generic_rollup_6.csv
proteosushi/generic_rollup_7.csv
proteosushi/generic_rollup_8.csv
proteosushi/generic_rollup_9.csv
proteosushi/generic_rollup_10.csv
proteosushi/generic_rollup_11.csv
proteosushi/generic_rollup_12.csv
proteosushi/9606_annot_score.tsv
maxquant_rollup.csv
unmatched_sequencesmaxquant
proteosushi/unmatched_sequencesgeneric
proteosushi/sparql_annotations.csv
proteosushi/sparql_annotations.csv
proteosushi/.~lock.generic_combined_rollup.csv#
proteosushi/.~lock.generic_rollup.csv#
proteosushi/unmatched_sequences_generic
proteosushi/sparql_annotations.csv
proteosushi/.~lock.generic_rollup_2.csv#
proteosushi/examples/fastas/Uni-Hum-Ref-20141022.pepdict
proteosushi/generic_rollup_13.csv
proteosushi/.~lock.generic_combined_rollup_sample.csv#
proteosushi/generic_rollup_14.csv
proteosushi/generic_rollup_15.csv
proteosushi/generic_combined_rollup_sample.csv
proteosushi/generic_rollup.csv
966_annot_score.tsv
proteosushi/generic_rollup_2by2.csv
proteosushi/.~lock.generic_rollup_1.csv#
proteosushi/sparqllist.tsv
proteosushi/annotation_files_EGFR/sparql-1.csv
proteosushi/annotation_files_EGFR/sparql-11.csv
proteosushi/annotation_files_EGFR/sparql-21.csv
proteosushi/annotation_files_EGFR/sparql-31.csv
proteosushi/annotation_files_EGFR/sparql-41.csv
proteosushi/annotation_files_EGFR/sparql-complete.csv
proteosushi/EGFR_annotation_uniprot_unfixed.csv
proteosushi/sparql_annotations.csv
proteosushi/sparql-complete.csv
proteosushi/sparql-complete.srj
generic_rollup.csv
sparql-complete.csv
unmatched_sequences_generic
proteosushi/sparql_annotations.csv
proteosushi/unmatched_sequences_mascot
proteosushi/.~lock.generic_rollup_3.csv#
proteosushi/.~lock.generic_rollup_4.csv#
proteosushi/fil-result/2020-09-17T16:01:29.239/out-of-memory-reversed.svg
proteosushi/fil-result/2020-09-17T16:01:29.239/out-of-memory.prof
proteosushi/fil-result/2020-09-17T16:01:29.239/out-of-memory.svg
proteosushi/fil-result/2020-09-17T16:02:33.865/out-of-memory-reversed.svg
proteosushi/fil-result/2020-09-17T16:02:33.865/out-of-memory.prof
proteosushi/fil-result/2020-09-17T16:02:33.865/out-of-memory.svg
proteosushi/fil-result/2020-09-17T16:03:17.282/out-of-memory-reversed.svg
proteosushi/fil-result/2020-09-17T16:03:17.282/out-of-memory.prof
proteosushi/fil-result/2020-09-17T16:03:17.282/out-of-memory.svg
proteosushi/fil-result/2020-09-17T16:03:29.916/out-of-memory-reversed.svg
proteosushi/fil-result/2020-09-17T16:03:29.916/out-of-memory.prof
proteosushi/fil-result/2020-09-17T16:03:29.916/out-of-memory.svg
proteosushi/fil-result/2020-09-17T16:03:56.730/out-of-memory-reversed.svg
proteosushi/fil-result/2020-09-17T16:03:56.730/out-of-memory.prof
proteosushi/fil-result/2020-09-17T16:03:56.730/out-of-memory.svg
proteosushi/fil-result/2020-09-17T16:21:52.503/out-of-memory-reversed.svg
proteosushi/fil-result/2020-09-17T16:21:52.503/out-of-memory.prof
proteosushi/fil-result/2020-09-17T16:21:52.503/out-of-memory.svg
proteosushi/fil-result/2020-09-17T17:02:30.863/index.html
proteosushi/fil-result/2020-09-17T17:02:30.863/peak-memory-reversed.svg
proteosushi/fil-result/2020-09-17T17:02:30.863/peak-memory.prof
proteosushi/fil-result/2020-09-17T17:02:30.863/peak-memory.svg
proteosushi/fil-result/2020-09-17T17:20:21.722/index.html
proteosushi/fil-result/2020-09-17T17:20:21.722/peak-memory-reversed.svg
proteosushi/fil-result/2020-09-17T17:20:21.722/peak-memory.prof
proteosushi/fil-result/2020-09-17T17:20:21.722/peak-memory.svg
proteosushi/fil-result/2020-09-18T12:22:37.967/index.html
proteosushi/fil-result/2020-09-18T12:22:37.967/peak-memory-reversed.svg
proteosushi/fil-result/2020-09-18T12:22:37.967/peak-memory.prof
proteosushi/fil-result/2020-09-18T12:22:37.967/peak-memory.svg
proteosushi/.~lock.test_merge_1.csv#
proteosushi/.~lock.test_merge_2.csv#
proteosushi/.~lock.test_merge_3.csv#
proteosushi/test_catalytic_dataframe.csv
proteosushi/test_dataframe_merge.py
proteosushi/test_extras_dataframe.csv
proteosushi/test_merge_1.csv
proteosushi/test_merge_2.csv
proteosushi/test_merge_3.csv
proteosushi/test_region_dataframe.csv
proteosushi/test_subcell_dataframe.csv
