*.pepdict
*_annot_score.tsv
*.pyc
*.log

.pypirc

proteosushi/output/*.csv

proteosushi/quant_parsed.csv
proteosushi/mascot_rollup.csv
quant_parsed.csv
mascot_rollup.csv
9606_annot_score.tsv
ref_UNPIDs.txt
unmatchedSequencesmascot_rollup.csv
proteosushi/sparql_annotations.csv
proteosushi/proteosushi_200817.zip
proteosushi/sparql_annotations.csv
proteosushi/generic_rollup_1.csv
proteosushi/generic_rollup_2.csv
proteosushi/generic_combined_rollup.csv
proteosushi/generic_rollup_3.csv
proteosushi/generic_rollup_4.csv
proteosushi/generic_rollup_5.csv
proteosushi/generic_rollup_6.csv
proteosushi/generic_rollup_7.csv
proteosushi/generic_rollup_8.csv
proteosushi/generic_rollup_9.csv
proteosushi/generic_rollup_10.csv
proteosushi/generic_rollup_11.csv
proteosushi/generic_rollup_12.csv
maxquant_rollup.csv
proteosushi/sparql_annotations.csv
proteosushi/unmatched_sequences_generic
proteosushi/generic_rollup_13.csv
proteosushi/generic_rollup_14.csv
proteosushi/generic_rollup_15.csv
proteosushi/generic_combined_rollup_sample.csv
proteosushi/generic_rollup.csv
proteosushi/generic_rollup_2by2.csv
proteosushi/sparqllist.tsv
proteosushi/annotation_files_EGFR/sparql-1.csv
proteosushi/annotation_files_EGFR/sparql-11.csv
proteosushi/annotation_files_EGFR/sparql-21.csv
proteosushi/annotation_files_EGFR/sparql-31.csv
proteosushi/annotation_files_EGFR/sparql-41.csv
proteosushi/annotation_files_EGFR/sparql-complete.csv
proteosushi/EGFR_annotation_uniprot_unfixed.csv
proteosushi/sparql_annotations.csv
proteosushi/sparql-complete.csv
proteosushi/sparql-complete.srj
generic_rollup.csv
sparql-complete.csv
unmatched_sequences_generic
proteosushi/sparql_annotations.csv
proteosushi/unmatched_sequences_mascot
proteosushi/test_catalytic_dataframe.csv
proteosushi/test_dataframe_merge.py
proteosushi/test_extras_dataframe.csv
proteosushi/test_merge_1.csv
proteosushi/test_merge_2.csv
proteosushi/test_merge_3.csv
proteosushi/test_region_dataframe.csv
proteosushi/test_subcell_dataframe.csv
proteosushi/generic_rollup_sample.csv
sparql_annotations.csv
proteosushi/unmatched_sequences_maxquant
proteosushi/9606_annot_score.tsv
unmatched_sequences_maxquant
unmatched_sequences_mascot
proteosushi/test_method_printing.csv
proteosushi/test_consolidate.csv
proteosushi/test_5.csv
proteosushi/test_10.csv
proteosushi/test_25.csv
proteosushi/test_50.csv
proteosushi/mascot_test.csv
proteosushi/skyline_test.csv
proteosushi/unmatched_sequences_maxquant.csv
proteosushi/unmatched_sequences_mascot.csv
proteosushi/unmatched_sequences_generic.csv
proteosushi/test_async.csv
proteosushi/proteosushi_output.csv
proteosushi/test_1.csv
proteosushi/maxquant_test.csv
proteosushi/examples/MascotEGFR_quant.csv
proteosushi/test_mascot_quant.csv
proteosushi.egg-info/dependency_links.txt
proteosushi.egg-info/PKG-INFO
proteosushi.egg-info/requires.txt
proteosushi.egg-info/SOURCES.txt
proteosushi.egg-info/top_level.txt
proteosushi/examples/PSMs/combine_plexes.py
proteosushi/examples/PSMs/plex_psm_all.tsv
proteosushi/examples/PSMs/plex-1_psm.tsv
proteosushi/examples/PSMs/plex-2_psm.tsv
proteosushi/examples/PSMs/plex-3_psm.tsv
proteosushi/examples/PSMs/plex-4_psm.tsv
proteosushi/examples/PSMs/plex-5_psm.tsv
proteosushi/examples/PSMs/plex-6_psm.tsv
proteosushi/examples/PSMs/plex-7_psm.tsv
proteosushi/examples/PSMs/plex-8_psm.tsv
proteosushi/examples/PSMs/plex-9_psm.tsv
proteosushi/examples/PSMs/plex-10_psm.tsv
proteosushi/examples/PSMs/plex-11_psm.tsv
proteosushi/examples/PSMs/plex-12_psm.tsv
proteosushi/examples/PSMs/plex-13_psm.tsv
proteosushi/examples/PSMs/plex-14_psm.tsv
proteosushi/examples/PSMs/plex-15_psm.tsv
proteosushi/examples/PSMs/plex-16_psm.tsv
proteosushi/examples/PSMs/plex-17_psm.tsv
proteosushi/examples/PSMs/plex-18_psm.tsv
proteosushi/examples/PSMs/plex-19_psm.tsv
proteosushi/examples/PSMs/plex-20_psm.tsv
proteosushi/examples/PSMs/plex-21_psm.tsv
proteosushi/examples/PSMs/plex-22_psm.tsv
proteosushi/examples/PSMs/plex-23_psm.tsv
proteosushi/oximouse_formatter.py
proteosushi/examples/miss_cleavage_puzzler_1.csv
unmatched_sequences_generic.csv
unmatched_sequences_mascot.csv
unmatched_sequences_maxquant.csv
proteosushi_output.csv
proteosushi/9606_annot_score.tsv
proteosushi/examples/LH_carb_study_rollup.csv
proteosushi/examples/txt_carbo_study/evidence.txt
proteosushi/examples/txt_carbo_study/summary.txt
localization_test.csv
proteosushi/9606_annot_score.tsv
proteosushi/83333_annot_score.tsv
proteosushi/annotation_issue_210215.csv
proteosushi/test_MP_error.csv
proteosushi/mq_localization_test_0.csv
proteosushi/mq_localization_test.csv
proteosushi/ecoli_output.csv
proteosushi/maxquant_rollup_loc.csv
proteosushi/thousand_lines_2014.csv
proteosushi/thousand_lines_2019.csv
proteosushi/test_min_AA.csv
proteosushi/test_wrong_dup.csv
proteosushi/mascot_output_annotated.csv
proteosushi/maxquant_output_loc_fdr.csv
proteosushi/skyline_output_annotated.csv
proteosushi/mascot_output_fdr.csv
proteosushi/maxquant_output_loc_annotated.csv
proteosushi/output/maxquant_output_loc.csv
proteosushi/output/maxquant_output_quant_loc_annotated.csv
proteosushi/output/mascot_output_annotated.csv
proteosushi/output/maxquant_testslow.csv
proteosushi/output/skyline_output_loc_annotated.csv
proteosushi/output/skyline_output_annotated.csv
proteosushi/output/skyline_output_loc_0.csv
proteosushi/output/skyline_output_loc.csv
proteosushi/parse_MaxQuant.py
proteosushi/output/mascot_output_loc_0.csv
proteosushi/output/ps_test_150721.csv
proteosushi/output/ps_test_190721.csv
proteosushi/9606_annot_score.tsv
proteosushi/output/ps_test_210825.csv
proteosushi/logs/ps.log
proteosushi/output/ps_test_211008.csv
proteosushi/output/ps_test_211120.csv
proteosushi/9606_annot_score.tsv
proteosushi/8296_annot_score.tsv
dist/
.DS_Store
